{% extends 'base.html.twig' %}

{% block title %}Multimedia List{% endblock %}

{% block body %}
    <h1>Multimedia List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for multimedia in multimedia %}
            <tr>
                <td>{{ multimedia.id }}</td>
                <td>{{ multimedia.url }}</td>
                <td>{{ multimedia.type }}</td>
                <td>
                    <a href="{{ path('app_multimedia_show', {'id': multimedia.id}) }}">Show</a>
                    <a href="{{ path('app_multimedia_edit', {'id': multimedia.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_multimedia_new') }}">Create new</a>
{% endblock %}